<!DOCTYPE html>
<html ng-app="redditApp">
  <head>
    <meta charset="utf-8">
    <title>Reddit Clone</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="main.css" media="screen" title="no title">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.10.1/angular-moment.min.js"></script>
  </head>
  <body ng-controller="postController as postCntl">

    <!-- Nav bar -->
    <nav class="nav-wrapper teal">
      <a href="#" class="brand-logo">Reddit Clone</a>
      <ul class="right">
        <li>
          <a class="waves-effect waves-light modal-trigger" href="#modal1">
            <i class="material-icons left">message</i>
            New Post
          </a>
        </li>
        <li class="waves-effect waves-light">
          <input type="text" ng-model="searchText" placeholder="Search">
        </li>
        <li>
          <a class="waves-effect waves-light dropdown-button" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
        </li>
      </ul>
    </nav>

    <main class="container">
      <section>
        <div class="col s12" ng-repeat="post in posts | orderBy : sortBy || 'time' : reverse | filter : searchText">
          <div class="card hoverable horizontal sticky-action">
            <div class="card-image">
              <img ng-src="{{post.image}}">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">{{post.title}}</span>
                <span>Posted by {{post.author}}</span>
                <p>{{post.description}}</p>
              </div>
              <div class="card-action">
                <span>{{post.time | timeAgo}}</span>
                <a ng-click="postCntl.changeVotes(-1, post)"><i class="tiny material-icons">thumb_down</i></a>
                  <span class="votes" ng-class="{overZero: post.votes > 0, underZero: post.votes < 0}">{{post.votes}}</span>
                <a ng-click="postCntl.changeVotes(1, post)"><i class="tiny material-icons">thumb_up</i></a>
                <span class="activator" ng-class="{plural: post.comments.length !== 1}"><i class="tiny material-icons">comment</i>{{post.comments.length}} comment</span>
                <a data-id="{{post.id}}" class="waves-effect waves-light modal-trigger" ng-click="postCntl.newComment($event)" href="#modal2"><i class="tiny material-icons">mode_edit</i>New Comment</a>

              </div>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">{{post.title}}<i class="material-icons right">close</i></span>
              <div ng-repeat="comment in post.comments">
                <span><strong>{{comment.author}}</strong>: {{comment.comment}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Add a new Post modal -->
    <div id="modal1" class="modal modal-fixed-footer">
      <form name="newPost" ng-controller="newPostController as newPostCntl">
        <div class="modal-content">
          <div class="input-field">
            <input id="title" type="text" name="title" ng-model="form.title" ng-class="{ 'invalid' : newPost.title.$invalid && newPost.title.$dirty, 'valid': newPost.title.$valid}" required>
            <label for="title" ng-class="{ 'invalidLabel' : newPost.title.$invalid && newPost.title.$dirty, 'validLabel': newPost.title.$valid}">Title</label>
          </div>

          <div class="input-field">
            <input id="author" type="text" name="author" ng-model="form.author" ng-class="{ 'invalid' : newPost.author.$invalid && newPost.author.$dirty, 'valid': newPost.author.$valid}" required>
            <label for="author" ng-class="{ 'invalidLabel' : newPost.author.$invalid && newPost.author.$dirty, 'validLabel': newPost.author.$valid}">Author</label>
          </div>

          <div class="input-field">
            <input id="image" type="url" name="image" ng-model="form.image" ng-class="{ 'invalid' : newPost.image.$invalid && newPost.image.$dirty, 'valid': newPost.image.$valid}" required>
            <label for="image" ng-class="{ 'invalidLabel' : newPost.image.$invalid && newPost.image.$dirty, 'validLabel': newPost.image.$valid}">Image url</label>
          </div>

          <div class="input-field">
            <textarea id="description" name="description" class="materialize-textarea" ng-model="form.description" ng-class="{ 'invalid' : newPost.description.$invalid && newPost.description.$dirty, 'valid': newPost.description.$valid}" required></textarea>
            <label for="description" ng-class="{ 'invalidLabel' : newPost.description.$invalid && newPost.description.$dirty, 'validLabel': newPost.description.$valid}">Description</label>
          </div>
        </div>
        <div class="modal-footer">
          <button class="waves-effect waves-green btn-flat" ng-click="newPostCntl.submitForm(form)" ng-disabled="newPost.$invalid">Submit</button>
        </div>
      </form>
    </div>

    <!-- Add a new comment modal -->
    <div id="modal2" class="modal bottom-sheet">
      <form name="newComment">
        <div class="modal-content">

          <div class="input-field">
            <input id="name" type="text" name="name" ng-model="commentForm.author" ng-class="{ 'invalid' : newComment.name.$invalid && newComment.name.$dirty, 'valid': newComment.name.$valid}" required>
            <label for="name" ng-class="{ 'invalidLabel' : newComment.name.$invalid && newComment.name.$dirty, 'validLabel': newComment.name.$valid}">Name</label>
          </div>

          <div class="input-field">
            <input id="comment" type="text" name="comment" ng-model="commentForm.comment" ng-class="{ 'invalid' : newComment.comment.$invalid && newComment.comment.$dirty, 'valid': newComment.comment.$valid}" required>
            <label for="comment" ng-class="{ 'invalidLabel' : newComment.comment.$invalid && newComment.comment.$dirty, 'validLabel': newComment.comment.$valid}">Comment</label>
          </div>

        </div>
        <div class="modal-footer">
          <button ng-click="postCntl.submitCommentForm(commentForm)" class="modal-action waves-effect waves-green btn-flat" ng-disabled="newComment.$invalid">Comment</button>
        </div>
      </form>
    </div>

    <!-- Drop down search menu -->
    <ul id="dropdown1" class="dropdown-content">
      <li class="waves-effect waves-dark teal lighten-3" ng-click="sortBy = 'votes'; reverse = false">Lowest votes first</li>
      <li class="waves-effect waves-dark teal lighten-3" ng-click="sortBy = 'votes'; reverse = true">Highest votes first</li>
      <li class="waves-effect waves-dark teal lighten-3" ng-click="sortBy = 'title'; reverse = false">Title A-Z</li>
      <li class="waves-effect waves-dark teal lighten-3" ng-click="sortBy = 'title'; reverse = true">Title Z-A</li>
      <li class="waves-effect waves-dark teal lighten-3" ng-click="sortBy = 'time'; reverse = false">Date oldest first</li>
      <li class="waves-effect waves-dark teal lighten-3" ng-click="sortBy = 'time'; reverse = true">Date newest first</li>
    </ul>

    <!-- JavaScript files -->
    <script src="modal.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="controllers.js" charset="utf-8"></script>
  </body>
</html>
