body {
  background-color: beige;
}

.has-error {
  color: red;
  border: 1px solid red;
}

img {
  width: 200px;
  height: 300px;
}

.votes {
  font-size: 1.5rem;
}

.overZero {
  color: green;
}

.overZero::before {
  content: '+';
}

.underZero {
  color: red;
}

.plural::after {
  content: 's';
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}
