body {
  background-color: beige;
}

.has-error {
  color: red;
  border: 1px solid red;
}

img {
  max-width: 200px;
  min-width: 200px;
  max-height: 300px;
  min-height: 300px;
}

.card {
  min-width: 1008px;
  max-width: 1008px;
}

.votes {
  font-size: 1.5rem;
}

.overZero {
  color: green;
}

.overZero::before {
  content: '+';
}

.underZero {
  color: red;
}

.plural::after {
  content: 's';
}

/* valid color */
.valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.validLabel {
  color: green !important;
}

.invalidLabel {
  color: red !important;
}
