body {
  background-color: beige;
}

.has-error {
  color: red;
  border: 1px solid red;
}

img {
  width: 200px;
  height: 300px;
}

.votes {
  font-size: 1.5rem;
}

.overZero {
  color: green;
}

.overZero::before {
  content: '+';
}

.underZero {
  color: red;
}

.plural::after {
  content: 's';
}

/* valid color */
.input-field input.valid {
  border-bottom: 1px solid green;
  box-shadow: 0 1px 0 0 green;
}
/* invalid color */
.input-field input.invalid {
  border-bottom: 1px solid red;
  box-shadow: 0 1px 0 0 red;
}

.animate-show,
.animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show.ng-hide-remove,
.animate-hide.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.animate-hide.ng-hide-add,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}
